.container {
  background-color: transparent;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.25rem;
  cursor: default;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;

  &:hover {
    background-color: #b0d9ff;
  }

  input {
    width: 16px;
    height: 16px;
    margin: 0 12px;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    line-height: 14px;
    margin-right: auto;
  }

  span {
    margin: 0 12px;
    font-size: 12px;
    line-height: 12px;
  }
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
